In [2]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report, confusion_matrix
import pandas as pd

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
data = pd.read_csv('train.csv')

In [ ]:
data.head()

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows,fake
0,1,0.27,0,0.0,0,53,0,0,32,1000,955,0
1,1,0.00,2,0.0,0,44,0,0,286,2740,533,0
2,1,0.10,2,0.0,0,0,0,1,13,159,98,0
3,1,0.00,1,0.0,0,82,0,0,679,414,651,0
4,1,0.00,2,0.0,0,0,0,1,6,151,126,0

In [ ]:
data.head()

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows,fake
0,1,0.27,0,0.0,0,53,0,0,32,1000,955,0
1,1,0.00,2,0.0,0,44,0,0,286,2740,533,0
2,1,0.10,2,0.0,0,0,0,1,13,159,98,0
3,1,0.00,1,0.0,0,82,0,0,679,414,651,0
4,1,0.00,2,0.0,0,0,0,1,6,151,126,0

In [ ]:
data['profile pic'].value_counts()

1    404
0    172
Name: profile pic, dtype: int64

In [ ]:
data['name==username'].value_counts()

0    556
1     20
Name: name==username, dtype: int64

In [ ]:
data['external URL'].value_counts()

0    509
1     67
Name: external URL, dtype: int64

In [ ]:
data.drop(['name==username','external URL','nums/length fullname','nums/length username'],axis=1,inplace=True)

In [ ]:
data.head()

,profile pic,fullname words,description length,private,#posts,#followers,#follows,fake
0,1,0,53,0,32,1000,955,0
1,1,2,44,0,286,2740,533,0
2,1,2,0,1,13,159,98,0
3,1,1,82,0,679,414,651,0
4,1,2,0,1,6,151,126,0

In [ ]:
data['private'].value_counts()

0    356
1    220
Name: private, dtype: int64

In [ ]:
data.sample()

,profile pic,fullname words,description length,private,#posts,#followers,#follows,fake
575,1,1,0,0,2,150,487,1

In [ ]:
data['fullname words'].unique()

array([ 0,  2,  1,  4,  3,  6, 12,  5, 10], dtype=int64)

In [ ]:
data.sample(5)

,profile pic,fullname words,description length,private,#posts,#followers,#follows,fake
418,1,1,0,0,0,46,92,1
464,1,1,0,1,0,11,60,1
149,1,2,150,0,38,870,72,0
222,1,1,0,0,389,4347,748,0
321,0,1,0,1,0,0,601,1

In [ ]:
data.head()

,profile pic,fullname words,description length,private,#posts,#followers,#follows,fake
0,1,0,53,0,32,1000,955,0
1,1,2,44,0,286,2740,533,0
2,1,2,0,1,13,159,98,0
3,1,1,82,0,679,414,651,0
4,1,2,0,1,6,151,126,0

In [ ]:
X_train = data.drop('fake', axis=1)
y_train = data['fake']

In [ ]:
svm_model = SVC(kernel='linear')
svm_model.fit(X_train, y_train)

SVC(kernel='linear')

In [ ]:
test_data=pd.read_csv('test.csv')
test_data.drop(['name==username','external URL','nums/length fullname','nums/length username'],axis=1,inplace=True)

In [ ]:
X_test = test_data.drop('fake', axis=1)
y_test = test_data['fake']

In [ ]:
y_pred=svm_model.predict(X_test)

In [ ]:
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Confusion Matrix:
[[52  8]
 [ 5 55]]

Classification Report:
              precision    recall  f1-score   support

           0       0.91      0.87      0.89        60
           1       0.87      0.92      0.89        60

    accuracy                           0.89       120
   macro avg       0.89      0.89      0.89       120
weighted avg       0.89      0.89      0.89       120

In [ ]:
X_train.columns

Index(['profile pic', 'fullname words', 'description length', 'private',
       '#posts', '#followers', '#follows'],
      dtype='object')

In [ ]:
sample=X_test.sample()
sample

,profile pic,fullname words,description length,private,#posts,#followers,#follows
23,1,2,24,1,19,150,157

In [ ]:
# Make predictions
predictions = svm_model.predict(sample)

# Print predictions
# print("Predictions:", predictions)

if predictions:
  print("FAKE")
else:
  print("REAL")

REAL

In [ ]:
sample_index = sample.index
if y_test[sample_index[0]]:
    print('FAKE')
else:
    print('REAL')

REAL

In [ ]:
from sklearn.ensemble import RandomForestClassifier

random_forest_model = RandomForestClassifier(n_estimators=100)

In [ ]:
# Train the model on the training data
random_forest_model.fit(X_train, y_train)

RandomForestClassifier()

In [ ]:
y_pred_rf = random_forest_model.predict(X_test)
y_pred_rf

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [ ]:
# Print the confusion matrix and classification report
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred_rf))
print("\nClassification Report:")
print(classification_report(y_test, y_pred_rf))

Confusion Matrix:
[[58  2]
 [ 4 56]]

Classification Report:
              precision    recall  f1-score   support

           0       0.94      0.97      0.95        60
           1       0.97      0.93      0.95        60

    accuracy                           0.95       120
   macro avg       0.95      0.95      0.95       120
weighted avg       0.95      0.95      0.95       120

In [ ]:
sample=X_test.sample()
sample

,profile pic,fullname words,description length,private,#posts,#followers,#follows
14,1,2,43,0,60,192,141

In [ ]:
# Make predictions on the new data
predictions_rf = random_forest_model.predict(sample)

if predictions_rf:
  print("FAKE")
else:
  print("REAL")

REAL

In [ ]:
sample_index = sample.index
if y_test[sample_index[0]]:
    print('FAKE')
else:
    print('REAL')

REAL

In [ ]:
import pickle
svm_filename = 'svm.pkl'
svm_Model_pkl = open(svm_filename, 'wb')
pickle.dump(svm_model, svm_Model_pkl)
svm_Model_pkl.close()

In [ ]:
data.to_csv('_new.csv')